### Tutorial 3- Creating Tables And Inserting Records

In [2]:
### Create MySQL Connection And Connect
import mysql.connector as sql

connection = sql.connect(
    host='localhost',
    user='root',
    password='xxxxx'
    
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002189B50BD60>

### Create Table In MySQL using Python

In [4]:

cursor = connection.cursor()
cursor.execute('use student2')

cursor.execute("CREATE TABLE studentinfo (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), subject VARCHAR(255))")

### Insert Records in Table

In [10]:
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
value = ("John", "Stats")
cursor.execute(query,value)
print("Row inserted",cursor.lastrowid)

Row inserted 3

In [11]:
### Insert multiple records in Table
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
values = [("Krish", "Stats"),
        ("Joe", "Maths"),
        ("Ankur","Data Science"),
        ("Paul","Data Science"),
        ("Vishal","Maths"),
        ("Krish","Data Science")]
cursor.executemany(query,values)
print("Row inserted",cursor.lastrowid)

Row inserted 4

#### Select All

In [12]:
cursor = connection.cursor()
cursor.execute("Select * from studentinfo")

In [13]:
### Fetch All the Data
cursor.fetchall()

[(1, 'John', 'smith'),
 (2, 'John', 'Stats'),
 (3, 'John', 'Stats'),
 (4, 'Krish', 'Stats'),
 (5, 'Joe', 'Maths'),
 (6, 'Ankur', 'Data Science'),
 (7, 'Paul', 'Data Science'),
 (8, 'Vishal', 'Maths'),
 (9, 'Krish', 'Data Science')]

In [14]:
### Fetch One Record At A time
cursor.fetchone()

In [15]:
lst=cursor.fetchall()

In [16]:
for records in lst:
    print(records)

#### Selecting Particular Rows

In [ ]:
cursor.execute("Select * from studentinfo where name='Krish'")

In [ ]:
### Fetch All the Data
cursor.fetchall()

#### Select Particular Columns

In [ ]:
cursor.execute("Select subject from studentinfo")
#### Fetch All
cursor.fetchall()

In [ ]:
## Select Distinct Columns
cursor.execute("SELECT DISTINCT subject from studentinfo")
#### Fetch All
cursor.fetchall()

In [ ]:
cursor.execute("SELECT name, subject FROM studentinfo WHERE name = 'Krish' OR subject = 'Data Science'") 
#### Fetch All
cursor.fetchall()

### Drop Table

In [ ]:
cursor.execute("DROP TABLE studentinfo")